<%= javascript_tag do %>
  window.tracks = <%=raw Track.all.to_json %>
<% end %>

<div id="map-canvas"></div>

<div id='footer'>
  <form id='geocoder'>
    <input id='geocode_bar' id='address' type='textbox' name='location' value='351 W. Hubbard Chicago, IL'>
    <input type='submit' value='Find Location'>
  </form>

  <span id='song'>
    <audio controls></audio>
  </span>
</div>


  <div id='song'>
    <audio id='player' autoplay controls>
  </div>
<div id="overlay"></div>


<div id="login_modal">
  <%= render '/sessions/login' %>
</div>

<div id="signup_modal">
  <%= render '/users/new' %>
</div>

<div id="audio_modal">
  <%= form_for :track do |f| %>
    <p><%= f.text_field :title, placeholder: 'Title' %></p>
    <p><%= f.text_field :description, placeholder: 'Description'  %></p>
    <p><%= f.file_field :clip %></p>
    <p><%= f.submit 'Map It!' %></p>
  <% end %>
</div>




























