<%= javascript_tag do %>
  window.tracks = <%=raw Track.all.to_json %>
<% end %>

<% if session[:current_user_id] %>
  <%= javascript_tag do %>
    window.user_tracks = <%=raw User.find(session[:current_user_id]).tracks.to_json %>
  <% end %>
<% else %>
  <%= javascript_tag do %>
    window.user_tracks = <%= {}.to_json %>
  <% end %>
<% end %>

<div id="map-canvas"></div>

<div id='footer'>
  <form id='geocoder'>
    <input id='geocode_bar' id='address' type='textbox' name='location' value='351 W. Hubbard Chicago, IL'>
    <input type='submit' value='Find Location' class="button">
  </form>

  <span id='song'>
    <audio id='player' controls></audio>
  </span>

  <button class="button" id='toggle_markers'>Toggle All Markers</button>
  <% if session[:current_user_id] %>
    <button class="button" id='toggle_user_markers'>Toggle User Markers</button>
  <% end %>
</div>


<div id="overlay"></div>


<div id="login_modal">
  <%= render '/sessions/login' %>
</div>

<div id="signup_modal">
  <%= render '/users/new' %>
</div>

<div id="audio_modal">
  <%= render '/tracks/new' %>
</div>




























